<div class="single-product">
  <img src={{product.image}} width="200">
  <p class="price">Price: ${{product.price}} </p>
  <p class="name">Name: {{product.name}} </p>
  <p>Description: {{product.description}} <p>
  <form id="form">
    <fieldset>
      <p>Quantity: <input type="number" min="1" placeholder="0"></p>
      <input type="text" style="display: none" value="{{product.name}}">
      <input type="number" style="display: none" value="{{product.price}}">
      <input type="text" style="display: none" value="{{product._id}}">
    </fieldset>
  </form>
</div>
